

.blockHead:after {
  color: #4D81BF;
  border-left: 20px solid;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-radius: 2px;
  display: inline-block;
  content: '';
  position: absolute;
  right: -20px;
  top: 0;
}
.blockHead {
  width: '100%';
  height: '32px';
  cursor: 'pointer';
  text-overflow: 'ellipsis';
  transition: 'all 250ms ease';
  background-color: #4D81BF;
  overflow: 'hidden';
   white-space: 'nowrap';
  /*width: 150px; */
  height: 40px;
  line-height: 40px;
  display: inline-block;
  position: relative;
}
.blocktext {
  color: white;
  font-weight: bold;
  padding-left: 10px;
  font-family: Arial;
  font-size: 11;
}
/* loader section */
.skeleton {
  opacity: .7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: .5rem;
  margin-bottom: .25rem;
  border-radius: .125rem;
}
.skeleton-text-md {
  width: 50%;
  height: .5rem;
  margin-bottom: .25rem;
  border-radius: .125rem;
}
.skeleton-text-xs {
  width: 30%;
  height: .5rem;
  margin-bottom: .25rem;
  border-radius: .125rem;
}
.skeleton-text-xss {
  width: 20%;
  height: .5rem;
  margin-bottom: .25rem;
  border-radius: .125rem;
}

.skeleton-text:last-child {
  margin-bottom: 0;
  width: 80%;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
.card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 16px;
  border-radius: 4px;
}

.header {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.header-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 1rem;
  flex-shrink: 0;
}

.title {
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: capitalize;
  word-wrap: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
}
.react-datepicker-popper {
  z-index: 10 !important
}
.react-datepicker__input-container{
  min-width: 170px;
}


.borderLeft{
  border-left: #0000;
  border-left-width: 2px;
  border-left-style: solid;
}

/* Ui stuff */
.h1MainText{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 4px;
    margin-top: 0px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    text-transform: none;
    white-space: normal;
    color:#1d2438
}
.subText{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  color: #94A4C4;
  display: block;
  text-transform: none;
  white-space: normal;
}

.whiteSmallText {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
    text-transform: none;
    white-space: normal;
}
.css-17tn7gx {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  color: #94A4C4;
  display: block;
  margin-top: 8px;
  text-transform: none;
  white-space: normal;
}
.headTxt1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  font-weight: 500;
  line-height: 1.5;
  color: #545252;
  display: block;
  margin-top: 8px;
  text-transform: none;
  white-space: normal;
}

.css-5mn5yy {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: none;
  white-space: normal;
}
.css-1lpgd8m {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  margin-left: 4px;
  text-transform: none;
  white-space: normal;
}

.flexCenter {
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* bg */
.cardBg{

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 65px;
    padding: 16px;
    margin-top: 16px;
    max-width: 260px;
    border-radius: 16px;
    background-color: #2499EF;

}

.svgIcon {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    color: #fff;
}

.css-rr2k8m-MuiLinearProgress-root {
  position: relative;
  overflow: hidden;
  display: block;
  height: 4px;
  z-index: 0;
  background-color: rgb(171, 216, 248);
  border-radius: 3px;
  overflow: hidden;
  background-color: #E5EAF2;
  margin-top: 2.4px;
  background-color: rgba(255, 255, 255, 0.4);
}

.css-1fwf2za-MuiPaper-root-MuiCard-root {
  background-color: #fff;
  color: #1d2438;
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  /* box-shadow: 0px 4px 23px rgb(0 0 0 / 12%); */
  background-image: none;
  overflow: hidden;
  box-shadow: none;
  /* border: 1px solid #E5EAF2; */
  border-top-left-radius: 4px;
  border-bottom-left-radius : 4px;

  padding: 1rem 1.5rem;
  height: 170px;
}
.css-19otv5r {
  width: 27px;
  height: 27px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: rgba(36, 153, 239, 0.3);
  background-color: #e6dff9;
}

.css-16rhdfd {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(39, 206, 136, 0.1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.md-chip-remove {
  display: inline-block;
  background: #fff;
  border: 0;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  padding: 0;
  margin: 0 -4px 0 4px;
  cursor: pointer;
  font: inherit;
  line-height: 18px;
}

.templateList {
  background-color: #fff;
  color: #1d2438;
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 4px 23px rgb(0 0 0 / 12%);
  background-image: none;
  overflow: hidden;
  box-shadow: none;
  border: 1px solid #E5EAF2;
  border-radius: 8px;
  padding: 1.5rem 0;
  min-width: 213px;
  height: fit-content;
}

.templateItem{
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  font-family: 'Montserrat',sans-serif;
  font-weight: 600;
  font-family: 'Montserrat',sans-serif;
  font-size: 0.875rem;
  line-height: 1.75;
  text-transform: uppercase;
  min-width: 64px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #2499EF;
  text-transform: none;
  border-radius: 4px;
  color: inherit;
  box-shadow: none;
  font-size: 12px;
  border-radius: 0;
  margin-top: 0.4rem;
  position: relative;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 46px;
}

.tempalteIcon{
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 12px;
    height: 12px;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    color: #94A4C4;
}

.hightlightItem {
    justify-content: flex-start;
    background-color: #F9F9F9 !important;
    color: #2499EF;
    min-width: 211px;
}

.hightlightItem::before{
  width: 4px;
  right: 0;
  content: "";
  height: 100%;
  position: absolute;
  background-color: #2499EF;
}

.cardborder {
  border-radius: 6px;
    position: relative;
    box-shadow: 0 2px 6px -2px rgba(0,106,194,0.2);
    border: solid 1px #ebf0f6;
    background-color: #fff;
    box-sizing: border-box;

}




.d-xl {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}
.d-lg {
  color: #000;
  font-size: 14px;
  font-weight: 600;

}

.d-md {
  color: #000;
  font-size: 12px;
  font-weight: 500px;

}

.d-sm {
  color: #000;
  font-size: 10px;
  font-weight: 400px;

}

.d-xsm {
  color: #000;
  font-size: 8px;
  font-weight: 400px;

}



.l-xl {
  color: #757575;
  font-size: 16px;
  font-weight: 500;
}
.d-lg {
  color: #757575;
  font-size: 14px;

}

.l-md {
  color: #757575;
  font-size: 12px;
  font-weight: 500px;

}
.l-sm {
  color: #757575;
  font-size: 10px;
  font-weight: 400px;

}

/* card-flip styles */
.maincontainer
{

    float: left; /* stack each div horizontally */
}

img
{
   border-radius: 10px;
}

.back h2
{
    position: absolute;
}

.back p
{
    position: absolute;
    top: 50px;
    font-size: 15px;
}

.front h2
{
    position: absolute;
    padding: 10px;
    top: 200px;
    color: #000;
}

/* style the maincontainer class with all child div's of class .front */
.maincontainer > .front
{
    /* position: absolute; */
    transform: perspective(600px) rotateY(0deg);


    backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
    transition: transform .5s linear 0s;
}

/* style the maincontainer class with all child div's of class .back */
.maincontainer > .back
{
    /* position: absolute; */
    transform: perspective(600px) rotateY(180deg);
    background: #262626;
    color: #fff;
    height: 0px;
    border-radius: 10px;
    /* padding: 5px; */
    backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
    transition: transform .5s linear 0s;
}

.maincontainer:hover > .front
{
    transform: perspective(600px) rotateY(-180deg);
}

.maincontainer:hover > .back
{
    transform: perspective(600px) rotateY(0deg);
}
.mySelect__value-container{
  height: 35px;
 }
 .blue-bg-gradient{
  background: radial-gradient(100% 100% at 53.13% 0,#31e7fa 0,#9bb7ff 52.6%,#74cdff 100%) !important;
 }


 body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
/* .center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* .card {
  width: 370px;
  height: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 3mm;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
} */
.top {
  flex-basis: 50%;
  background: linear-gradient(
    135deg,
    rgb(189, 195, 199),
    rgb(149, 165, 166),
    rgb(189, 195, 199)
  );
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 3mm 3mm 0 0;
  max-height: 14px;
}
.title {
  font-family: manrope;
  font-weight: 600;
  font-size: 20px;
  color: white;
}
.icon {
  width: fit-content;
}
.icon img {
  width: 30px;
}
.bottom {
  flex-basis: 50%;
  background: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  padding: 25px 18px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 0 0 3mm 3mm;
  max-height: 10px;

}
.left {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: manrope;
  font-size: 13px;
  color: white;
  margin-bottom: 5px;
}
.card-num {
  font-size: 17px;
  font-family: manrope;
  font-weight: 500;
  color: white;
  width: 100%;
  letter-spacing: 4px;
}
.right {
  width: fit-content;
}
.logo {
  width: 65px;
  background: rgba(255, 255, 255, 0.2);
  height: 40px;
  border-radius: 1mm;
  position: relative;
}
.circle1,
.circle2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.circle1 {
  background: rgba(255, 255, 255, 0.4);
  left: 13%;
}
.circle2 {
  background: rgba(255, 255, 255, 0.7);
  right: 13%;
}

/* minimalistic styles */
.tabHeader {
    line-height: 2.2rem;
    font-family: "Public Sans", sans-serif;
    vertical-align: inherit;
    border-bottom: 1px dashed rgb(241, 243, 244);
    text-align: left;
    padding: 16px;
    font-size: 14px;
    color: #637381;
    font-weight: 600;
    background-color: rgb(244, 246, 248);
}
.headTxt{
  font-size: 12px;
  color: #637381;
  line-height: 1.5rem;

}


.file-card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dashed #cbd5e0;
  background-color: #edf2f7;
  min-width: 380px;
  min-height: 230px;
}
.file-card .file-inputs {
  position: relative;
  margin-bottom: 1.5em;
}
.file-card .file-inputs input {
  position: relative;
  text-align: right;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  height: 46px;
  max-width: 200px;
}
.file-card .file-inputs button {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #30d4f5;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  outline: none;
  transition: background-color 0.4s;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.5);
}
.file-card .file-inputs button i {
  width: 1.5em;
  height: 1.5em;
  padding: 0.4em;
  background-color: #fff;
  color: #30d4f5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.8em;
  font-size: 0.8em;
}
.file-card .file-inputs:hover button {
  /* background-color: #f15120; */
}
.main {
  font-weight: bold;
  margin-bottom: 0.4em;
}
.info {
  font-size: 0.8rem;
}

.upload-li {
  list-style: none;
  margin: 1.2em 0;
  background-color: #30d4f5 38;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 1.2em 1.5em;
}
.upload-li svg {
  color: #30d4f5;
}
.upload-li svg:first-child {
  font-size: 1.2em;
  margin-right: 0.8em;
}
.upload-li p {
  flex: 1;
  font-size: 0.9rem;
}
.upload-li .actions {
  justify-self: flex-end;
  cursor: pointer;
}
.upload-li .actions .fa-spinner {
  font-size: 1.2em;
}




